{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to Crypto Currency</h1>
    <body>
        <p><br>Please select a Crypto Currency from the list below</p>

        <form action="/cryptoChart" id="cryptoList">
            <div>
                <label for="types">Which currency would you like?</label><br>
                <input type="radio" id="crypto_type" name="crypto_select" value="BTC" checked>
                <label for="btc"> Bitcoin</label><br>
                <input type="radio" id="crypto_type" name="crypto_select" value="BNB">
                <label for="bnb"> BNB</label><br>
                <input type="radio" id="crypto_type" name="crypto_select" value="ETH">
                <label for="eth"> Ethereum</label><br>
                <input type="radio" id="crypto_type" name="crypto_select" value="LTC">
                <label for="ltc"> Litecoin</label><br>
                <input type="radio" id="crypto_type" name="crypto_select" value="NEO">
                <label for="neo"> NEO</label><br>
                <p></p>
            </div>
            <div>
                <button type="submit">OK</button>
            </div>
        </form><br>
        
    </body>
{% endblock %}