{% extends 'base.html' %}

{% block content %}
<div class="header__body">
    <div class="grid grid--1x2 grid--centered grid-gap--small">
      <div class="value-proposition">
        <!-- <div class="badge-container">
          <span class="badge badge--dark text--small">75% Save</span>
          <span class="text text--small text--regular text--white">For the Black Friday weekend</span>
        </div> -->
        <h1 class="value-proposition__title">Fastest & secure platform to invest in crypto</h1>
        <p class="value-proposition__text text text--small text--regular">Buy and sell cryptocurrencies, trusted by 10M wallets with over $30 billion in transactions.</p>
        <button class="value-proposition__button btn btn--flex btn--accent">
          <span class="text--standart text--medium">Try for FREE</span>
          <div class="chiron-icon-container">
            <img src="../Frontend/images/chevron-right.svg" alt="Right Icon" />
          </div>
        </button>
      </div>
      <img src="../Fronteand/images/btc-illustration.svg" alt="Bitcoin illustration" class="btc-illustration" data-rellax-horizontal-speed="-2" data-rellax-vertical-scroll-axis="x"/>
    </div>
  </div>

{% endblock %}