.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}
.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
 }
}
.star:nth-child(1) {
  --star-tail-length: 5276704246.0600004196em;
  --top-offset: 141798521034.2600097656vh;
  --fall-duration: 10910514380.0429992676s;
  --fall-delay: 17038358395.4729995728s;
}
.star:nth-child(2) {
  --star-tail-length: 461483221.0500000119em;
  --top-offset: 151819045886.549987793vh;
  --fall-duration: 128066602.876000002s;
  --fall-delay: 20486459121.0680007935s;
}
.star:nth-child(3) {
  --star-tail-length: 968517723.8300000429em;
  --top-offset: 92017348714.7899932861vh;
  --fall-duration: 10439530059.7369995117s;
  --fall-delay: 7066177587.1040000916s;
}
.star:nth-child(4) {
  --star-tail-length: 1812260340.7000000477em;
  --top-offset: 112952439314.5200042725vh;
  --fall-duration: 12645616809.591999054s;
  --fall-delay: 2156310959.5349998474s;
}
.star:nth-child(5) {
  --star-tail-length: 1061497287.8400000334em;
  --top-offset: 42297441521.2200012207vh;
  --fall-duration: 7826021899.6289997101s;
  --fall-delay: 8148244342.9600000381s;
}
.star:nth-child(6) {
  --star-tail-length: 1379089949.75em;
  --top-offset: 86983328863.1399993896vh;
  --fall-duration: 7090352810.545999527s;
  --fall-delay: 19608511485.0830001831s;
}
.star:nth-child(7) {
  --star-tail-length: 3794802663.1900000572em;
  --top-offset: 26331242360.9500007629vh;
  --fall-duration: 4600067408.1420001984s;
  --fall-delay: 1549789343.4379999638s;
}
.star:nth-child(8) {
  --star-tail-length: 2096709657.4100000858em;
  --top-offset: 31357623448.7999992371vh;
  --fall-duration: 2844569277.8759999275s;
  --fall-delay: 10166147973.1459999084s;
}
.star:nth-child(9) {
  --star-tail-length: 4491894983.4300003052em;
  --top-offset: 140463200515.5599975586vh;
  --fall-duration: 5943082824.7449998856s;
  --fall-delay: 16368929739.3010005951s;
}
.star:nth-child(10) {
  --star-tail-length: 1880230189.4100000858em;
  --top-offset: 37790555477.6800003052vh;
  --fall-duration: 1788314838.8050000668s;
  --fall-delay: 14726371869.9379997253s;
}
.star:nth-child(11) {
  --star-tail-length: 338219877.0299999714em;
  --top-offset: 37853003121.8199996948vh;
  --fall-duration: 5203738381.2049999237s;
  --fall-delay: 12095815670.6210002899s;
}
.star:nth-child(12) {
  --star-tail-length: 4556074315.4799995422em;
  --top-offset: 190390456541.9400024414vh;
  --fall-duration: 10925802767.6830005646s;
  --fall-delay: 14411140789.982000351s;
}
.star:nth-child(13) {
  --star-tail-length: 287176720.3399999738em;
  --top-offset: 84866041855.6100006104vh;
  --fall-duration: 1509163291.2999999523s;
  --fall-delay: 13646888212.3659992218s;
}
.star:nth-child(14) {
  --star-tail-length: 3238469626.9099998474em;
  --top-offset: 206470336069.1099853516vh;
  --fall-duration: 5147101903.3649997711s;
  --fall-delay: 8354260692.5349998474s;
}
.star:nth-child(15) {
  --star-tail-length: 3383392340.7399997711em;
  --top-offset: 79403826388.6799926758vh;
  --fall-duration: 6170921021.4499998093s;
  --fall-delay: 16442939819.5690002441s;
}
.star:nth-child(16) {
  --star-tail-length: 2493351797.4800000191em;
  --top-offset: 44347938750.4400024414vh;
  --fall-duration: 9476589934.4599990845s;
  --fall-delay: 11152433861.8729991913s;
}
.star:nth-child(17) {
  --star-tail-length: 3968926443.4299998283em;
  --top-offset: 80611257019.6699981689vh;
  --fall-duration: 12183726842.7590007782s;
  --fall-delay: 13689405713.6909999847s;
}
.star:nth-child(18) {
  --star-tail-length: 3450442761.3899998665em;
  --top-offset: 3046261495.6900000572vh;
  --fall-duration: 11033790552.6480007172s;
  --fall-delay: 20320473744.1899986267s;
}
.star:nth-child(19) {
  --star-tail-length: 539096288.9600000381em;
  --top-offset: 191763566139.1700134277vh;
  --fall-duration: 2212553463.4600000381s;
  --fall-delay: 15319039640.7889995575s;
}
.star:nth-child(20) {
  --star-tail-length: 2766812833.6799998283em;
  --top-offset: 48895847395.8300018311vh;
  --fall-duration: 4657068368.7189998627s;
  --fall-delay: 19516777552.6069984436s;
}
.star:nth-child(21) {
  --star-tail-length: 3566667671.3400001526em;
  --top-offset: 191757414524.0700073242vh;
  --fall-duration: 8270508594.3999996185s;
  --fall-delay: 12255507128.1700000763s;
}
.star:nth-child(22) {
  --star-tail-length: 3178191218.8899998665em;
  --top-offset: 148047839103.5799865723vh;
  --fall-duration: 10326784561.9519996643s;
  --fall-delay: 3118112210.0430002213s;
}
.star:nth-child(23) {
  --star-tail-length: 2270923722.3499999046em;
  --top-offset: 34577930547.3099975586vh;
  --fall-duration: 12357850760.5760002136s;
  --fall-delay: 230003118.0119999945s;
}
.star:nth-child(24) {
  --star-tail-length: 3475346690.2300000191em;
  --top-offset: 172368553631.8500061035vh;
  --fall-duration: 12260125237.702999115s;
  --fall-delay: 16418811877.0160007477s;
}
.star:nth-child(25) {
  --star-tail-length: 760258902.4099999666em;
  --top-offset: 211807525834.7200012207vh;
  --fall-duration: 9681138538.2129993439s;
  --fall-delay: 11214362574.125s;
}
.star:nth-child(26) {
  --star-tail-length: 406036402.3899999857em;
  --top-offset: 106033371076.8800048828vh;
  --fall-duration: 4047196802.3959999084s;
  --fall-delay: 11244012078.7789993286s;
}
.star:nth-child(27) {
  --star-tail-length: 3651190458.0100002289em;
  --top-offset: 124574401594.5399932861vh;
  --fall-duration: 37377792.5930000022s;
  --fall-delay: 7792685960.6770000458s;
}
.star:nth-child(28) {
  --star-tail-length: 3843382596.2399997711em;
  --top-offset: 23172290297.3300018311vh;
  --fall-duration: 9345687691.0550003052s;
  --fall-delay: 19203863674.3479995728s;
}
.star:nth-child(29) {
  --star-tail-length: 4797287639.7399997711em;
  --top-offset: 150900133704.5199890137vh;
  --fall-duration: 8181573288.3190002441s;
  --fall-delay: 14896272618.313999176s;
}
.star:nth-child(30) {
  --star-tail-length: 250589858.4499999881em;
  --top-offset: 124034565516.3300018311vh;
  --fall-duration: 7860225637.3020000458s;
  --fall-delay: 4558603244.7430000305s;
}
.star:nth-child(31) {
  --star-tail-length: 5359614174.5em;
  --top-offset: 14149996958.2099990845vh;
  --fall-duration: 4653400557.5190000534s;
  --fall-delay: 12219101918.0130004883s;
}
.star:nth-child(32) {
  --star-tail-length: 2397912049.4400000572em;
  --top-offset: 61590673251.4800033569vh;
  --fall-duration: 10977212770.5890007019s;
  --fall-delay: 7437755981.2279996872s;
}
.star:nth-child(33) {
  --star-tail-length: 3392855442.3400001526em;
  --top-offset: 1038870776.6900000572vh;
  --fall-duration: 12551727209.9330005646s;
  --fall-delay: 14366883974.7430000305s;
}
.star:nth-child(34) {
  --star-tail-length: 4571394632.6000003815em;
  --top-offset: 87817733795.2899932861vh;
  --fall-duration: 7998469708.140999794s;
  --fall-delay: 11386266722.8209991455s;
}
.star:nth-child(35) {
  --star-tail-length: 5330794090.9499998093em;
  --top-offset: 159655647468.3500061035vh;
  --fall-duration: 4583911371.9180002213s;
  --fall-delay: 801286110.5989999771s;
}
.star:nth-child(36) {
  --star-tail-length: 2199084721.1900000572em;
  --top-offset: 189050435153.200012207vh;
  --fall-duration: 12637581140.5370006561s;
  --fall-delay: 17361483624.7649993896s;
}
.star:nth-child(37) {
  --star-tail-length: 1201994552.9000000954em;
  --top-offset: 82392727548.9100036621vh;
  --fall-duration: 11852125601.0949993134s;
  --fall-delay: 1047412660.7929999828s;
}
.star:nth-child(38) {
  --star-tail-length: 2324230120.9400000572em;
  --top-offset: 10924585649.3299999237vh;
  --fall-duration: 2583062020.5960001945s;
  --fall-delay: 21366538750.2309989929s;
}
.star:nth-child(39) {
  --star-tail-length: 4290896854.0700001717em;
  --top-offset: 34073221581.4599990845vh;
  --fall-duration: 3764732096.7899999619s;
  --fall-delay: 4280878265.021999836s;
}
.star:nth-child(40) {
  --star-tail-length: 1117313691.4500000477em;
  --top-offset: 202651175991.2900085449vh;
  --fall-duration: 9389327389.1259994507s;
  --fall-delay: 16311724309.3299999237s;
}
.star:nth-child(41) {
  --star-tail-length: 428731066.8799999952em;
  --top-offset: 145488081753.4400024414vh;
  --fall-duration: 2360399944.4340000153s;
  --fall-delay: 18590729487.0600013733s;
}
.star:nth-child(42) {
  --star-tail-length: 322201250.3000000119em;
  --top-offset: 123851198581.4700012207vh;
  --fall-duration: 8587331341.3920001984s;
  --fall-delay: 16375009577.2240009308s;
}
.star:nth-child(43) {
  --star-tail-length: 722420923.4900000095em;
  --top-offset: 83540415606.2400054932vh;
  --fall-duration: 8666507491.218000412s;
  --fall-delay: 20445189034.4720001221s;
}
.star:nth-child(44) {
  --star-tail-length: 3384403348.6599998474em;
  --top-offset: 56651292562.8000030518vh;
  --fall-duration: 7560231368.5889997482s;
  --fall-delay: 7997269376.9729995728s;
}
.star:nth-child(45) {
  --star-tail-length: 3414722697.8800001144em;
  --top-offset: 135079016150.9600067139vh;
  --fall-duration: 4439680073.3739995956s;
  --fall-delay: 7171398148.1079998016s;
}
.star:nth-child(46) {
  --star-tail-length: 4777527855.5em;
  --top-offset: 45747006943.2699966431vh;
  --fall-duration: 9361287062.5170001984s;
  --fall-delay: 3544935938.1479997635s;
}
.star:nth-child(47) {
  --star-tail-length: 3607892456.0100002289em;
  --top-offset: 124943233274.0200042725vh;
  --fall-duration: 3462461072.6810002327s;
  --fall-delay: 4094010670.131000042s;
}
.star:nth-child(48) {
  --star-tail-length: 2779812457.5100002289em;
  --top-offset: 201954474728.1300048828vh;
  --fall-duration: 7250667713.2440004349s;
  --fall-delay: 1642756659.2400000095s;
}
.star:nth-child(49) {
  --star-tail-length: 2541298999.6900000572em;
  --top-offset: 116825261858.0500030518vh;
  --fall-duration: 3506876496.0180001259s;
  --fall-delay: 10971414801.7770004272s;
}
.star:nth-child(50) {
  --star-tail-length: 2174523585.5599999428em;
  --top-offset: 120789834175.6399993896vh;
  --fall-duration: 8140536211.9460000992s;
  --fall-delay: 16778865668.7950000763s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}
@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
 }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
 }
  70%, 80% {
    width: 0;
    opacity: 0.4;
 }
  100% {
    width: 0;
    opacity: 0;
 }
}
@keyframes blink {
  50% {
    opacity: 0.6;
 }
}
