{% extends 'base.html' %}

{% block content %}
    <h1 class="text-white" style="text-align: center;">Welcome to Crypto Currency</h1>
    <body>
        <h2 class="text-white" style="font-size: 20px; text-align: center;"><br>Please select a Crypto Currency from the list below</h2>

        <form action="/cryptoChart" id="cryptoList">
  
            <div class="container d-flex flex-column" style="margin-top: 50px; text-align: center; align-items: center;">

                <button class="btn btn-outline-light btn-lg p-3" style="margin-bottom: 20px; width: 200px;" type="radio" id="crypto_type" name="crypto_select" value="BTC" checked type=""><img src="https://bitcoin.org/img/icons/opengraph.png?1648897668" width="40" alt="" srcset=""> Bitcoin</button>
                <button class="btn btn-outline-light btn-lg p-3" style="margin-bottom: 20px; width: 200px;" type="radio" id="crypto_type" name="crypto_select" value="BNB" type=""><img src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Binance-coin-bnb-logo.png" width="40" alt="bnb" srcset=""> Binance Coin</button>
                <button class="btn btn-outline-light btn-lg p-3" style="margin-bottom: 20px; width: 200px;" type="radio" id="crypto_type" name="crypto_select" value="ETH" type=""><img src="https://www.seekpng.com/png/full/193-1936896_bitseven-ethereum-balance-blue-ethereum-logo.png" width="40" alt="" srcset="">Ethereum</button>
                <button class="btn btn-outline-light btn-lg p-3" style="margin-bottom: 20px; width: 200px;" type="radio" id="crypto_type" name="crypto_select" value="LTC" type=""><img src="https://gallery.yopriceville.com/var/albums/Free-Clipart-Pictures/Money.PNG/Litecoin_LTC_Cryptocurrency_PNG_Clip_Art_Image.png?m=1529493510" width="40" alt="" srcset="">Litecoin</button>
                <button class="btn btn-outline-light btn-lg p-3" style="margin-bottom: 20px; width: 200px;" type="radio" id="crypto_type" name="crypto_select" value="NEO" type=""><img src="https://www.pinclipart.com/picdir/big/387-3874363_download-svg-download-png-neo-coin-logo-clipart.png" width="40" alt="" srcset="">NEO</button>
                <!-- <button type="submit">OK</button> -->
            </div>
        </form><br>
        
    </body>
{% endblock %}