{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row mt-5">
        <div class="col-sm-4" style="text-align: center;">
            <img src="../static/pictures/1.jpg" width="180" height="180" style="border-radius: 50%;">
            <h2 class="text-white">Tarun Sai</h2>
            <p class="text-white">Student_ID: 200505844</p>
        </div>

        <div class="col-sm-4" style="text-align: center;">
            <img src="../static/pictures/3.jpg" width="180" height="180" style="border-radius: 50%;">
            <h2 class="text-white">Robyn Haywood</h2>
            <p class="text-white">Student_ID:200513860</p>
        </div>

        <div class="col-sm-4" style="text-align: center;">
            <img src="../static/pictures/2.jpg" width="180" height="180" style="border-radius: 50%;">
            <h2 class="text-white">Jaykumar Patel</h2>
            <p class="text-white">Student_ID: 200510752</p>
        </div>
    </div>
</div>
{% endblock %}