{% extends 'base.html' %}

{% block content %}
<div class="container">

    <!-- Three columns of text below the carousel -->
    <div class=" d-flex justify-content-end">
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                    dy=".3em">140x140</text>
            </svg>

            <h2 class="text-white">Tarun Sai</h2>
            <p class="text-white">Student_ID: 200505844</p>
            <p class="text-white btn btn-outline-primary"><a href="https://www.linkedin.com/in/Name/">Linkedin</a></p> 
        </div><!-- /.Update your linkedin URL --->

        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                    dy=".3em">140x140</text>
            </svg>
            <h2 class="text-white">Robyn Haywood</h2>
            <p class="text-white">Student_ID:</p>
            <p class="text-white btn btn-outline-primary"><a href="https://www.linkedin.com/in/robyn-m-haywood/">Linkedin</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777"
                    dy=".3em">140x140</text>
            </svg>

            <h2 class="text-white">Jaykumar Patel</h2>
            <p class="text-white">Student_ID: 200510752</p>
            <p class="text-white btn btn-outline-primary"><a href="https://www.linkedin.com/in/jaykumar-patel-2741a0193/">Linkedin</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</div>
{% endblock %}